{% if formFieldClass is defined and formFieldClass != '' %}
  {% set formFieldClass = ' ' ~ formFieldClass %}
{% endif %}
 
{% if fieldInputClass is defined and fieldInputClass != '' %}
  {% set fieldInputClass = ' ' ~ fieldInputClass %}
{% endif %}

{% if type == 'text' or type == 'password' or type == 'tel' or type == 'email' or type == 'textarea' %}
  {% if leftIcon is defined and leftIcon != '' %}
    {% set paddingClass = paddingClass ~ ' f--li' %}
    {% set li = true %}
  {% endif %}
  {% if leftButton is defined and leftButton != '' %}
    {% set paddingClass = paddingClass ~ ' f--lb' %}
    {% set lb = true %}
  {% endif %}
  {% if rightIcon is defined and rightIcon != '' %}
    {% set paddingClass = paddingClass ~ ' f--ri' %}
    {% set ri = true %}
  {% endif %}
  {% if rightButton is defined and rightButton != '' %}
    {% set paddingClass = paddingClass ~ ' f--rb' %}
    {% set rb = true %}
  {% endif %}
{% endif %}

<div class="form-field{{ formFieldClass }}{% if niceLabel == true %} nice-label {% endif %}">
  
  {% if fieldset == true %}
    {% set fs = true %}
    <fieldset>
  {% endif %}  
  
  {% if (type != 'checkbox' and type != 'submit') or fs == true or (title is defined and title != '') %}  
    <div class="field-label {% if niceLabel == true %} {{ paddingClass }} {% endif %}">
  {% endif %}
    
    {% if type != 'checkbox' and type != 'submit' %}
      <label for="{{ name }}">{{ label }}</label>
    {% endif %}
    
    {% if legend is defined and legend != '' %}
      <legend>{{ legend }}</legend>
    {% endif %}
    
    {% if title is defined and title != '' %}
      {{ title }}
    {% endif %}

  {% if (type != 'checkbox' and type != 'submit') or fs == true or (title is defined and title != '') %} 
    </div>
  {% endif %}
  
  <div class="field-input{{ fieldInputClass }}{{ paddingClass }}">    
   
    {% if type == 'text' or type == 'password' or type == 'tel' or type == 'email' %}
      <input class="{{ class }}" type="{{ type|default('text') }}" placeholder="{{ placeholder }}" name="{{ name }}" id="{{ name }}" value="{{ value }}" {% if showError == true %} aria-describedby="error-{{ name }}" {% endif %} {{- attributes }}>
      
    {% elseif type == 'textarea' %}
      <textarea class="{{ class }}" placeholder="{{ placeholder }}" name="{{ name }}" id="{{ name }}" {% if showError == true %} aria-describedby="error-{{ name }}" {% endif %} {{- attributes }}>{{ value }}</textarea>
      
    {% elseif type == 'checkbox' %}
     
      {% if fs == true %}
        
        {% for item in items %}
          <label class="label--checkbox">
            <input type="checkbox" class="sr-only" name="{{ item.name }}" {{- item.attributes }}> {{ item.label }}
            <span class="checkbox" aria-hidden="true">
              {% include '/components/icons/icons.twig' with { icon: 'tick' } only %}
            </span>
          </label>  
        {% endfor %}
        
      {% else %}
        <label class="label--checkbox">
          <input type="checkbox" class="sr-only" name="{{ name }}" {{- attributes }}> {{ label }}
          <span class="checkbox" aria-hidden="true">
            {% include '/components/icons/icons.twig' with { icon: 'tick' } only %}
          </span>
        </label>    
      {% endif %}       
      
    {% endif %}
       
    
    {% if li == true or lb == true %}
      <div class="field-l"> 
        {% if li == true %}     
        <div class="field-icon">          
          {% include '/components/icons/icons.twig' with { icon: leftIcon } only %}
        </div>
        {% endif %}
        {% if lb == true %}
          <button class="field-button" type="button" {{- leftButtonAttributes }}>
            {% include '/components/icons/icons.twig' with { icon: leftButton } only %}
          </button>
        {% endif %}
      </div>  
    {% endif %}
       
       
    {% if ri == true or rb == true %}
      <div class="field-r">      
        {% if rb == true %}
          <button class="field-button" type="button" {{- rightButtonAttributes }}>
            {% include '/components/icons/icons.twig' with { icon: rightButton } only %}
          </button>
        {% endif %}
        {% if ri == true %}
        <div class="field-icon">          
          {% include '/components/icons/icons.twig' with { icon: rightIcon } only %}
        </div>
         {% endif %}
      </div>  
    {% endif %}
    
  </div>
  
  {% if fs == true %}
    </fieldset>
  {% endif %} 
  
  {% if showError == true %}
    <div class="field-error">
      <span role="alert" id="error-{{ name }}">Error message</span>
    </div>
  {% endif %}

</div>
